@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject JwtAuthenticationStateProvider AuthProvider
@inject NavigationManager Nav

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ControlPanel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="/">Home</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="MonitorPrices">Monitor Prices</NavLink></li>
                        <li class="nav-item"><button class="btn btn-link nav-link" @onclick="Logout">Logout</button></li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item"><NavLink class="nav-link" href="Login">Login</NavLink></li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    @Body
</div>

@code {
    private bool _tokenLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_tokenLoaded)
        {
            _tokenLoaded = true;
            await AuthProvider.LoadTokenAsync();
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        await AuthProvider.LogoutAsync();
        Nav.NavigateTo("/login", true);
    }
}