
@page "/register"
@rendermode InteractiveServer
@using ControlPanel.Components.Models
@inject HttpClient Http
@inject NavigationManager Nav

<h3>Registro</h3>

    <div>
        <label>Email</label>
        <InputText @bind-Value="model.Email" />
    </div>

    <div>
        <label>Password</label>
        <InputText type="password" @bind-Value="model.Password" />
    </div>

    <div>
        <label>Confirmar Password</label>
        <InputText type="password" @bind-Value="model.ConfirmPassword" />
    </div>

<button @onclick="RegisterAsync">Registrase</button>


@code {
    
    private RegisterRequest model = new();

    private async Task RegisterAsync()
    {
        var response = await Http.PostAsJsonAsync("http://192.168.0.24:8080/api/auth/register", model);
        Console.WriteLine($"STATUS: {response.StatusCode}");

        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadAsStringAsync();
            Nav.NavigateTo("/login");
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            Console.WriteLine(error);
        }
    }
    
}